################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RogueTraderSystemGenerator/obj/Debug
/RogueTraderSystemGenerator/obj/Release
/RogueTraderSystemGenerator/bin/Debug
/RogueTraderSystemGenerator/bin/Release
electron_logs.txt
