<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RogueTraderSystemGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RogueTraderSystemGenerator.Properties.Settings>
            <setting name="SettingsCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPageNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MergeWithChildDocuments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseStarsOfInequityForXenosGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseKoronusBestiaryForXenosGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookKoronusBestiary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookBattlefleetKoronus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookIntoTheStorm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookTheSoulReaver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookStarsOfInequity" serializeAs="String">
                <value>True</value>
            </setting>
        </RogueTraderSystemGenerator.Properties.Settings>
    </userSettings>
</configuration>
